goat.test {
    root * /app/public

    route /robots.txt {
        file_server
        encode off
    }

    route {
        encode zstd br gzip

        file_server

        php_server {
            root /app
            transport frankenphp {
                num_threads 4
                app_root /app
                command /app/vendor/bin/frankenphp-worker
             }
        }
    }
}
