{
    local_certs
}

goat.test {
    root * /app/public
    encode zstd br gzip

    file_server

    route {
        php_server {
            root /app
            transport frankenphp {
                num_threads 4
                app_root /app
                command /app/vendor/bin/frankenphp-worker
             }
        }
    }
}
