.git
.idea
.vscode
node_modules
vendor
public/build
public/storage
.env
.env.*
docker-compose.yml
Dockerfile
bootstrap/cache/*.php
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
