{
    frankenphp
    order php_server before file_server
    acme_ca https://acme.zerossl.com/v2/DV90
    email hs.umarov21@gmail.com
}

:80 {
    respond /up 200
}

goat.uz {
    redir https://www.goat.uz{uri} permanent
}

www.goat.uz {
    respond /up 200
    root * /app/public
    encode zstd gzip

    php_server {
                   resolve_root_symlink
               }

    @static {
                file
                path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2
            }
    header @static Cache-Control "max-age=31536000"

    file_server
}
