@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        font-family: var(--font-sans), serif;
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

#badge-container {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateX(-67.5%);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 40;
    width: 280px;
    height: 155px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /*border: 1px solid red;*/
}

#badge-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#badge-enlarged-container {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#badge-enlarged-container.visible {
    opacity: 1;
}

#enlarged-badge-canvas {
    width: 600px;
    height: 600px;
}
